body{
    /* height:100vh; */
    background-color:coral;

}
/* memory game css */
#score{
color:Grey;
}
.easyGrid{
    display:flex;
    flex-wrap:wrap;
    height:480px;
    width:360px;
    margin:auto auto;

}
.easyCards{
    height:120px;
    width:120px;
}
.mediumGrid {
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    width: 400px;
    margin: 2rem auto 2rem auto;

}
.mediumCards {
    height: 80px;
    width: 100px;
}
.hardGrid {
    display: flex;
    flex-wrap: wrap;
    height: 560px;
    width: 420px;
    margin: 2rem auto 2rem auto;

}

.hardCards {
    height: 70px;
    width: 70px;
}
.open{
    display:block;

}
#modal-content{
    display:hidden
}

/* Wack A Mole CSS */
.square{
    
    height:150px;
    border:solid 2px black;

}
.wacGrid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content:center;
    align-content:center;
    margin:2rem auto;
    height: 450px;
    width:450px;


}